{
    "openapi": "3.0.3",
    "info": {
        "title": "Lead API",
        "description": "The Apideck Lead API lets you create, read, update, delete and list leads across CRM integrations through Apideck Unify, using a single unified data model.",
        "contact": {
            "url": "https://developers.apideck.com",
            "email": "hello@apideck.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "10.63.0",
        "x-logo": {
            "url": "https://developers.apideck.com/icon.png"
        },
        "x-apideck-api": "lead",
        "x-apideck-sdk-support": true
    },
    "externalDocs": {
        "description": "Apideck Developer Docs",
        "url": "https://developers.apideck.com"
    },
    "servers": [
        {
            "url": "https://unify.apideck.com/lead",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Leads",
            "description": "A Lead represents a potential customer, including name, contact details, company, source, status, and associated opportunities.",
            "x-apideck-resource-id": "leads",
            "x-apideck-model": {
                "$ref": "#/components/schemas/Lead"
            }
        }
    ],
    "paths": {
        "/leads": {
            "get": {
                "tags": [
                    "Leads"
                ],
                "summary": "List leads",
                "description": "List leads",
                "operationId": "listLeads",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/raw"
                    },
                    {
                        "$ref": "#/components/parameters/consumerId"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/applicationId"
                    },
                    {
                        "$ref": "#/components/parameters/serviceId"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/leadsFilter"
                    },
                    {
                        "$ref": "#/components/parameters/leadsSort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GetLeadsResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/UnexpectedErrorResponse"
                    }
                },
                "x-apideck-api": "lead",
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "Node",
                        "source": {}
                    }
                ]
            },
            "post": {
                "tags": [
                    "Leads"
                ],
                "summary": "Create lead",
                "description": "Create lead",
                "operationId": "createLead",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/raw"
                    },
                    {
                        "$ref": "#/components/parameters/consumerId"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/applicationId"
                    },
                    {
                        "$ref": "#/components/parameters/serviceId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Lead"
                            }
                        }
                    },
                    "required": true,
                    "description": "Details of the lead to create"
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/CreateLeadResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/UnexpectedErrorResponse"
                    }
                },
                "x-apideck-api": "lead",
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "Node",
                        "source": {
                            "lead": {
                                "name": "Elon Musk",
                                "company_name": "Spacex",
                                "owner_id": "54321",
                                "owner_name": "John Doe",
                                "company_id": "2",
                                "contact_id": "3",
                                "lead_id": "2",
                                "lead_source": "Cold Call",
                                "first_name": "Elon",
                                "last_name": "Musk",
                                "description": "A thinker",
                                "prefix": "Sir",
                                "title": "CEO",
                                "language": "EN",
                                "status": "New",
                                "monetary_amount": 75000,
                                "currency": "USD",
                                "fax": "+12129876543",
                                "websites": [
                                    {
                                        "id": "12345",
                                        "url": "http://example.com",
                                        "type": "primary"
                                    }
                                ],
                                "addresses": [
                                    {
                                        "id": "123",
                                        "type": "primary",
                                        "string": "25 Spring Street, Blackburn, VIC 3130",
                                        "name": "HQ US",
                                        "line1": "Main street",
                                        "line2": "apt #",
                                        "line3": "Suite #",
                                        "line4": "delivery instructions",
                                        "line5": "Attention: Finance Dept",
                                        "street_number": "25",
                                        "city": "San Francisco",
                                        "state": "CA",
                                        "postal_code": "94104",
                                        "country": "US",
                                        "latitude": "40.759211",
                                        "longitude": "-73.984638",
                                        "county": "Santa Clara",
                                        "contact_name": "Elon Musk",
                                        "salutation": "Mr",
                                        "phone_number": "111-111-1111",
                                        "fax": "122-111-1111",
                                        "email": "elon@musk.com",
                                        "website": "https://elonmusk.com",
                                        "notes": "Address notes or delivery instructions.",
                                        "row_version": "1-12345"
                                    }
                                ],
                                "social_links": [
                                    {
                                        "id": "12345",
                                        "url": "https://www.twitter.com/apideck",
                                        "type": "twitter"
                                    }
                                ],
                                "phone_numbers": [
                                    {
                                        "id": "12345",
                                        "country_code": "1",
                                        "area_code": "323",
                                        "number": "111-111-1111",
                                        "extension": "105",
                                        "type": "primary"
                                    }
                                ],
                                "emails": [
                                    {
                                        "id": "123",
                                        "email": "elon@musk.com",
                                        "type": "primary"
                                    }
                                ],
                                "custom_fields": [
                                    {
                                        "id": "2389328923893298",
                                        "name": "employee_level",
                                        "ref_name": "Marketing",
                                        "description": "Employee Level",
                                        "value": "Uses Salesforce and Marketo"
                                    }
                                ],
                                "tags": [
                                    "New"
                                ],
                                "pass_through": [
                                    {
                                        "service_id": "string",
                                        "operation_id": "string",
                                        "extend_object": {},
                                        "extend_paths": [
                                            {
                                                "path": "$.nested.property",
                                                "value": {
                                                    "TaxClassificationRef": {
                                                        "value": "EUC-99990201-V1-00020000"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                ]
            }
        },
        "/leads/{id}": {
            "get": {
                "tags": [
                    "Leads"
                ],
                "summary": "Get lead",
                "description": "Get lead",
                "operationId": "getLead",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/consumerId"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/applicationId"
                    },
                    {
                        "$ref": "#/components/parameters/serviceId"
                    },
                    {
                        "$ref": "#/components/parameters/raw"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GetLeadResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/UnexpectedErrorResponse"
                    }
                },
                "x-apideck-api": "lead",
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "Node",
                        "source": {
                            "id": "id_example"
                        }
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Leads"
                ],
                "summary": "Delete lead",
                "description": "Delete lead",
                "operationId": "deleteLead",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/consumerId"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/applicationId"
                    },
                    {
                        "$ref": "#/components/parameters/serviceId"
                    },
                    {
                        "$ref": "#/components/parameters/raw"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/DeleteLeadResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/UnexpectedErrorResponse"
                    }
                },
                "x-apideck-api": "lead",
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "Node",
                        "source": {
                            "id": "id_example"
                        }
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Leads"
                ],
                "summary": "Update lead",
                "description": "Update lead",
                "operationId": "updateLead",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/consumerId"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/applicationId"
                    },
                    {
                        "$ref": "#/components/parameters/serviceId"
                    },
                    {
                        "$ref": "#/components/parameters/raw"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Lead"
                            }
                        }
                    },
                    "required": true,
                    "description": "Lead fields to update"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UpdateLeadResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequiredResponse"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundResponse"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/UnexpectedErrorResponse"
                    }
                },
                "x-apideck-api": "lead",
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "Node",
                        "source": {
                            "id": "id_example",
                            "lead": {
                                "name": "Elon Musk",
                                "company_name": "Spacex",
                                "owner_id": "54321",
                                "owner_name": "John Doe",
                                "company_id": "2",
                                "contact_id": "3",
                                "lead_id": "2",
                                "lead_source": "Cold Call",
                                "first_name": "Elon",
                                "last_name": "Musk",
                                "description": "A thinker",
                                "prefix": "Sir",
                                "title": "CEO",
                                "language": "EN",
                                "status": "New",
                                "monetary_amount": 75000,
                                "currency": "USD",
                                "fax": "+12129876543",
                                "websites": [
                                    {
                                        "id": "12345",
                                        "url": "http://example.com",
                                        "type": "primary"
                                    }
                                ],
                                "addresses": [
                                    {
                                        "id": "123",
                                        "type": "primary",
                                        "string": "25 Spring Street, Blackburn, VIC 3130",
                                        "name": "HQ US",
                                        "line1": "Main street",
                                        "line2": "apt #",
                                        "line3": "Suite #",
                                        "line4": "delivery instructions",
                                        "line5": "Attention: Finance Dept",
                                        "street_number": "25",
                                        "city": "San Francisco",
                                        "state": "CA",
                                        "postal_code": "94104",
                                        "country": "US",
                                        "latitude": "40.759211",
                                        "longitude": "-73.984638",
                                        "county": "Santa Clara",
                                        "contact_name": "Elon Musk",
                                        "salutation": "Mr",
                                        "phone_number": "111-111-1111",
                                        "fax": "122-111-1111",
                                        "email": "elon@musk.com",
                                        "website": "https://elonmusk.com",
                                        "notes": "Address notes or delivery instructions.",
                                        "row_version": "1-12345"
                                    }
                                ],
                                "social_links": [
                                    {
                                        "id": "12345",
                                        "url": "https://www.twitter.com/apideck",
                                        "type": "twitter"
                                    }
                                ],
                                "phone_numbers": [
                                    {
                                        "id": "12345",
                                        "country_code": "1",
                                        "area_code": "323",
                                        "number": "111-111-1111",
                                        "extension": "105",
                                        "type": "primary"
                                    }
                                ],
                                "emails": [
                                    {
                                        "id": "123",
                                        "email": "elon@musk.com",
                                        "type": "primary"
                                    }
                                ],
                                "custom_fields": [
                                    {
                                        "id": "2389328923893298",
                                        "name": "employee_level",
                                        "ref_name": "Marketing",
                                        "description": "Employee Level",
                                        "value": "Uses Salesforce and Marketo"
                                    }
                                ],
                                "tags": [
                                    "New"
                                ],
                                "pass_through": [
                                    {
                                        "service_id": "string",
                                        "operation_id": "string",
                                        "extend_object": {},
                                        "extend_paths": [
                                            {
                                                "path": "$.nested.property",
                                                "value": {
                                                    "TaxClassificationRef": {
                                                        "value": "EUC-99990201-V1-00020000"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "DeleteLeadResponse": {
                "required": [
                    "data",
                    "operation",
                    "resource",
                    "service",
                    "status",
                    "status_code"
                ],
                "type": "object",
                "properties": {
                    "status_code": {
                        "type": "integer",
                        "description": "HTTP Response Status Code",
                        "example": 200,
                        "x-ballerina-name": "statusCode"
                    },
                    "data": {
                        "$ref": "#/components/schemas/UnifiedId"
                    },
                    "resource": {
                        "type": "string",
                        "description": "Unified API resource name",
                        "example": "companies"
                    },
                    "_raw": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Raw"
                            }
                        ],
                        "x-ballerina-name": "raw"
                    },
                    "service": {
                        "type": "string",
                        "description": "Apideck ID of service provider",
                        "example": "zoho-crm"
                    },
                    "operation": {
                        "type": "string",
                        "description": "Operation performed",
                        "example": "delete"
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP Response Status",
                        "example": "OK"
                    }
                },
                "x-apideck-schema-id": "DeleteLeadResponse"
            },
            "UnifiedId": {
                "title": "UnifiedId",
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "title": "Id",
                        "type": "string",
                        "description": "The unique identifier of the resource",
                        "readOnly": true,
                        "example": "12345"
                    }
                },
                "description": "A object containing a unique identifier for the resource that was created, updated, or deleted",
                "x-apideck-schema-id": "Id"
            },
            "GetLeadResponse": {
                "required": [
                    "data",
                    "operation",
                    "resource",
                    "service",
                    "status",
                    "status_code"
                ],
                "type": "object",
                "properties": {
                    "status_code": {
                        "type": "integer",
                        "description": "HTTP Response Status Code",
                        "example": 200,
                        "x-ballerina-name": "statusCode"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Lead"
                    },
                    "resource": {
                        "type": "string",
                        "description": "Unified API resource name",
                        "example": "companies"
                    },
                    "_raw": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Raw"
                            }
                        ],
                        "x-ballerina-name": "raw"
                    },
                    "service": {
                        "type": "string",
                        "description": "Apideck ID of service provider",
                        "example": "zoho-crm"
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    },
                    "operation": {
                        "type": "string",
                        "description": "Operation performed",
                        "example": "one"
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP Response Status",
                        "example": "OK"
                    }
                },
                "x-apideck-schema-id": "GetLeadResponse"
            },
            "Meta": {
                "type": "object",
                "properties": {
                    "items_on_page": {
                        "type": "integer",
                        "description": "Number of items returned in the data property of the response",
                        "example": 50,
                        "x-ballerina-name": "itemsOnPage"
                    },
                    "cursors": {
                        "$ref": "#/components/schemas/MetaCursors"
                    },
                    "total_count": {
                        "type": "integer",
                        "description": "Number of records available in total for this resource",
                        "example": 1,
                        "x-ballerina-name": "totalCount"
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Non-fatal warnings emitted when optional workflow steps failed. Present only when at least one step degraded; the response status remains 200",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/MetaWarnings"
                        }
                    }
                },
                "description": "Response metadata",
                "x-apideck-schema-id": "Meta"
            },
            "Email": {
                "required": [
                    "email"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the email address",
                        "nullable": true,
                        "example": "123"
                    },
                    "type": {
                        "type": "string",
                        "description": "Email type",
                        "nullable": true,
                        "example": "primary",
                        "enum": [
                            "primary",
                            "secondary",
                            "work",
                            "personal",
                            "billing",
                            "other"
                        ],
                        "x-apideck-enum-id": "emails.type"
                    },
                    "email": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Email address",
                        "format": "email",
                        "nullable": true,
                        "example": "elon@musk.com"
                    }
                },
                "additionalProperties": false,
                "x-apideck-schema-id": "Email",
                "x-apideck-weights": {
                    "email": "critical",
                    "type": "critical",
                    "id": "edge-case"
                }
            },
            "PassThroughBody": {
                "type": "array",
                "description": "The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources",
                "items": {
                    "$ref": "#/components/schemas/PassThroughItem"
                }
            },
            "Address": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "description": "country code according to ISO 3166-1 alpha-2",
                        "nullable": true,
                        "example": "US"
                    },
                    "notes": {
                        "title": "Notes",
                        "type": "string",
                        "description": "Additional notes",
                        "nullable": true,
                        "example": "Address notes or delivery instructions."
                    },
                    "string": {
                        "type": "string",
                        "description": "The address string. Some APIs don't provide structured address data",
                        "nullable": true,
                        "example": "25 Spring Street, Blackburn, VIC 3130"
                    },
                    "city": {
                        "type": "string",
                        "description": "Name of city",
                        "nullable": true,
                        "example": "San Francisco"
                    },
                    "latitude": {
                        "type": "string",
                        "description": "Latitude of the address",
                        "nullable": true,
                        "example": "40.759211"
                    },
                    "county": {
                        "type": "string",
                        "description": "Address field that holds a sublocality, such as a county",
                        "nullable": true,
                        "example": "Santa Clara"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of address",
                        "nullable": true,
                        "example": "primary",
                        "enum": [
                            "primary",
                            "secondary",
                            "home",
                            "office",
                            "shipping",
                            "billing",
                            "work",
                            "other"
                        ],
                        "x-apideck-enum-id": "addresses.type"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the address",
                        "nullable": true,
                        "example": "123"
                    },
                    "state": {
                        "type": "string",
                        "description": "Name of state",
                        "nullable": true,
                        "example": "CA"
                    },
                    "line3": {
                        "type": "string",
                        "description": "Line 3 of the address",
                        "nullable": true,
                        "example": "Suite #"
                    },
                    "fax": {
                        "type": "string",
                        "description": "Fax number of the address",
                        "nullable": true,
                        "example": "122-111-1111"
                    },
                    "line2": {
                        "type": "string",
                        "description": "Line 2 of the address",
                        "nullable": true,
                        "example": "apt #"
                    },
                    "line1": {
                        "type": "string",
                        "description": "Line 1 of the address e.g. number, street, suite, apt #, etc",
                        "nullable": true,
                        "example": "Main street"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email address of the address",
                        "nullable": true,
                        "example": "elon@musk.com"
                    },
                    "longitude": {
                        "type": "string",
                        "description": "Longitude of the address",
                        "nullable": true,
                        "example": "-73.984638"
                    },
                    "line5": {
                        "type": "string",
                        "description": "Line 5 of the address",
                        "nullable": true,
                        "example": "Attention: Finance Dept"
                    },
                    "contact_name": {
                        "type": "string",
                        "description": "Name of the contact person at the address",
                        "nullable": true,
                        "example": "Elon Musk",
                        "x-ballerina-name": "contactName"
                    },
                    "website": {
                        "type": "string",
                        "description": "Website of the address",
                        "nullable": true,
                        "example": "https://elonmusk.com"
                    },
                    "line4": {
                        "type": "string",
                        "description": "Line 4 of the address",
                        "nullable": true,
                        "example": "delivery instructions"
                    },
                    "row_version": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RowVersion"
                            }
                        ],
                        "x-ballerina-name": "rowVersion"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the address",
                        "nullable": true,
                        "example": "HQ US"
                    },
                    "street_number": {
                        "type": "string",
                        "description": "Street number",
                        "nullable": true,
                        "example": "25",
                        "x-ballerina-name": "streetNumber"
                    },
                    "phone_number": {
                        "type": "string",
                        "description": "Phone number of the address",
                        "nullable": true,
                        "example": "111-111-1111",
                        "x-ballerina-name": "phoneNumber"
                    },
                    "salutation": {
                        "type": "string",
                        "description": "Salutation of the contact person at the address",
                        "nullable": true,
                        "example": "Mr"
                    },
                    "postal_code": {
                        "type": "string",
                        "description": "Zip code or equivalent",
                        "nullable": true,
                        "example": "94104",
                        "x-ballerina-name": "postalCode"
                    }
                },
                "additionalProperties": false,
                "x-apideck-schema-id": "Address",
                "x-apideck-weights": {
                    "id": "edge-case",
                    "name": "edge-case",
                    "type": "critical",
                    "line1": "high",
                    "line2": "low",
                    "line3": "edge-case",
                    "line4": "edge-case",
                    "line5": "edge-case",
                    "street_number": "low",
                    "city": "high",
                    "string": "low",
                    "state": "high",
                    "postal_code": "high",
                    "country": "high",
                    "latitude": "low",
                    "longitude": "low",
                    "county": "edge-case",
                    "contact_name": "edge-case",
                    "salutation": "edge-case",
                    "phone_number": "edge-case",
                    "fax": "edge-case",
                    "email": "edge-case",
                    "website": "edge-case",
                    "row_version": "edge-case"
                }
            },
            "BadRequestResponse": {
                "type": "object",
                "properties": {
                    "type_name": {
                        "type": "string",
                        "description": "The type of error returned",
                        "example": "RequestValidationError",
                        "x-ballerina-name": "typeName"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Link to documentation of error type",
                        "example": "https://developers.apideck.com/errors#requestvalidationerror"
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code",
                        "example": 400,
                        "x-ballerina-name": "statusCode"
                    },
                    "detail": {
                        "description": "Contains parameter or domain specific information related to the error and why it occurred",
                        "anyOf": [
                            {
                                "type": "string",
                                "example": "Missing property foobar"
                            },
                            {
                                "type": "object",
                                "example": {
                                    "missing": [
                                        {
                                            "foobar": "required"
                                        }
                                    ]
                                },
                                "x-speakeasy-detail": true
                            }
                        ]
                    },
                    "error": {
                        "type": "string",
                        "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                        "example": "Bad Request"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable message providing more details about the error",
                        "example": "Invalid Params",
                        "x-speakeasy-error-message": true
                    },
                    "downstream_errors": {
                        "type": "array",
                        "description": "Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError",
                        "example": [
                            {
                                "message": "Account code '100' has been archived or deleted",
                                "detail": "Each line item must reference a valid account",
                                "code": "VALIDATION_ERROR"
                            }
                        ],
                        "items": {
                            "$ref": "#/components/schemas/BadRequestResponseDownstreamErrors"
                        },
                        "x-ballerina-name": "downstreamErrors"
                    }
                },
                "x-apideck-schema-id": "BadRequest"
            },
            "MetaCursors": {
                "type": "object",
                "properties": {
                    "next": {
                        "type": "string",
                        "description": "Cursor to navigate to the next page of results through the API",
                        "nullable": true,
                        "example": "em9oby1jcm06OnBhZ2U6OjM="
                    },
                    "current": {
                        "type": "string",
                        "description": "Cursor to navigate to the current page of results through the API",
                        "nullable": true,
                        "example": "em9oby1jcm06OnBhZ2U6OjI="
                    },
                    "previous": {
                        "type": "string",
                        "description": "Cursor to navigate to the previous page of results through the API",
                        "nullable": true,
                        "example": "em9oby1jcm06OnBhZ2U6OjE="
                    }
                },
                "description": "Cursors to navigate to previous or next pages through the API"
            },
            "TooManyRequestsResponseDetail": {
                "type": "object",
                "properties": {
                    "context": {
                        "type": "string"
                    },
                    "error": {
                        "type": "object",
                        "x-speakeasy-detail": true
                    }
                }
            },
            "Website": {
                "required": [
                    "url"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the website",
                        "nullable": true,
                        "example": "12345"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of website",
                        "nullable": true,
                        "example": "primary",
                        "enum": [
                            "primary",
                            "secondary",
                            "work",
                            "personal",
                            "other"
                        ],
                        "x-apideck-enum-id": "websites.type"
                    },
                    "url": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The website URL",
                        "example": "http://example.com"
                    }
                },
                "additionalProperties": false,
                "x-apideck-schema-id": "Website",
                "x-apideck-weights": {
                    "url": "critical",
                    "type": "critical",
                    "id": "edge-case"
                }
            },
            "Raw": {
                "title": "raw",
                "type": "object",
                "additionalProperties": true,
                "description": "Raw response from the integration when raw=true query param is provided",
                "nullable": true,
                "x-apideck-schema-id": "Raw"
            },
            "GetLeadsResponse": {
                "required": [
                    "data",
                    "operation",
                    "resource",
                    "service",
                    "status",
                    "status_code"
                ],
                "type": "object",
                "properties": {
                    "status_code": {
                        "type": "integer",
                        "description": "HTTP Response Status Code",
                        "example": 200,
                        "x-ballerina-name": "statusCode"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Lead"
                        }
                    },
                    "resource": {
                        "type": "string",
                        "description": "Unified API resource name",
                        "example": "companies"
                    },
                    "_raw": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Raw"
                            }
                        ],
                        "x-ballerina-name": "raw"
                    },
                    "service": {
                        "type": "string",
                        "description": "Apideck ID of service provider",
                        "example": "zoho-crm"
                    },
                    "meta": {
                        "$ref": "#/components/schemas/Meta"
                    },
                    "links": {
                        "$ref": "#/components/schemas/Links"
                    },
                    "operation": {
                        "type": "string",
                        "description": "Operation performed",
                        "example": "all"
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP Response Status",
                        "example": "OK"
                    }
                },
                "x-apideck-schema-id": "GetLeadsResponse"
            },
            "PaymentRequiredResponse": {
                "type": "object",
                "properties": {
                    "type_name": {
                        "type": "string",
                        "description": "The type of error returned",
                        "example": "RequestLimitError",
                        "x-ballerina-name": "typeName"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Link to documentation of error type",
                        "example": "https://developers.apideck.com/errors#requestlimiterror"
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code",
                        "example": 402,
                        "x-ballerina-name": "statusCode"
                    },
                    "detail": {
                        "type": "string",
                        "description": "Contains parameter or domain specific information related to the error and why it occurred",
                        "example": "You have reached your limit of 2000"
                    },
                    "error": {
                        "type": "string",
                        "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                        "example": "Payment Required"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable message providing more details about the error",
                        "example": "Request Limit Reached",
                        "x-speakeasy-error-message": true
                    }
                },
                "x-apideck-schema-id": "PaymentRequired"
            },
            "UnprocessableResponse": {
                "type": "object",
                "properties": {
                    "type_name": {
                        "type": "string",
                        "description": "The type of error returned",
                        "example": "InvalidStateError",
                        "x-ballerina-name": "typeName"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Link to documentation of error type",
                        "example": "https://developers.apideck.com/errors#invalidstateerror"
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code",
                        "example": 422,
                        "x-ballerina-name": "statusCode"
                    },
                    "detail": {
                        "description": "Contains parameter or domain specific information related to the error and why it occurred",
                        "anyOf": [
                            {
                                "type": "string",
                                "example": "Unprocessable request, please verify your request headers and body."
                            },
                            {
                                "type": "object",
                                "example": {
                                    "error": "Unprocessable",
                                    "message": "Unprocessable request, please verify your request headers and body."
                                },
                                "x-speakeasy-detail": true
                            }
                        ]
                    },
                    "error": {
                        "type": "string",
                        "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                        "example": "Unprocessable Entity"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable message providing more details about the error",
                        "example": "Invalid State",
                        "x-speakeasy-error-message": true
                    }
                },
                "x-apideck-schema-id": "Unprocessable"
            },
            "UnauthorizedResponse": {
                "type": "object",
                "properties": {
                    "type_name": {
                        "type": "string",
                        "description": "The type of error returned",
                        "example": "UnauthorizedError",
                        "x-ballerina-name": "typeName"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Link to documentation of error type",
                        "example": "https://developers.apideck.com/errors#unauthorizederror"
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code",
                        "example": 401,
                        "x-ballerina-name": "statusCode"
                    },
                    "detail": {
                        "description": "Contains parameter or domain specific information related to the error and why it occurred",
                        "anyOf": [
                            {
                                "type": "string",
                                "example": "Missing authentication"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "description": "Error type identifier",
                                        "example": "refresh_token_connector_error"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "Detailed error message",
                                        "example": "Token refresh failed"
                                    },
                                    "debug": {
                                        "type": "object",
                                        "properties": {
                                            "request": {
                                                "type": "object",
                                                "description": "HTTP request details"
                                            },
                                            "response": {
                                                "type": "object",
                                                "description": "HTTP response details"
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message from downstream provider or network layer"
                                            },
                                            "code": {
                                                "type": "string",
                                                "description": "Error code (e.g., ETIMEDOUT, ECONNREFUSED)"
                                            },
                                            "credentials_expire_at_ms": {
                                                "type": "number",
                                                "description": "Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.",
                                                "example": 1620172800000
                                            },
                                            "retry_after_ms": {
                                                "type": "number",
                                                "description": "Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.",
                                                "example": 1620000030000
                                            },
                                            "cooldown_remaining_ms": {
                                                "type": "number",
                                                "description": "Milliseconds remaining in cooldown period before retry is allowed.",
                                                "example": 30000
                                            }
                                        },
                                        "description": "Debug information including request/response details and OAuth timing metadata"
                                    }
                                },
                                "example": {
                                    "type": "refresh_token_connector_error",
                                    "message": "Token refresh failed with 401 error",
                                    "debug": {
                                        "response": {
                                            "statusCode": 401,
                                            "data": {
                                                "error": "invalid_grant"
                                            }
                                        },
                                        "credentials_expire_at_ms": 1620172800000,
                                        "retry_after_ms": 1620000030000,
                                        "cooldown_remaining_ms": 30000
                                    }
                                },
                                "x-speakeasy-detail": true
                            }
                        ]
                    },
                    "error": {
                        "type": "string",
                        "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                        "example": "Unauthorized"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable message providing more details about the error",
                        "example": "Unauthorized Request",
                        "x-speakeasy-error-message": true
                    }
                },
                "x-apideck-schema-id": "Unauthorized"
            },
            "NotImplementedResponse": {
                "type": "object",
                "properties": {
                    "type_name": {
                        "type": "string",
                        "description": "The type of error returned",
                        "example": "MappingError",
                        "x-ballerina-name": "typeName"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Link to documentation of error type",
                        "example": "https://developers.apideck.com/errors#mappingerror"
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code",
                        "example": 501,
                        "x-ballerina-name": "statusCode"
                    },
                    "detail": {
                        "description": "Contains parameter or domain specific information related to the error and why it occurred",
                        "anyOf": [
                            {
                                "type": "string",
                                "example": "Failed to retrieve Widget tokenUrl from 'components.securitySchemes.OAuth2.flows'"
                            },
                            {
                                "type": "object",
                                "x-speakeasy-detail": true
                            }
                        ]
                    },
                    "error": {
                        "type": "string",
                        "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                        "example": "Not Implemented"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable message providing more details about the error",
                        "example": "Unmapped Attribute",
                        "x-speakeasy-error-message": true
                    }
                },
                "x-apideck-schema-id": "NotImplemented"
            },
            "LeadsFilter": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the lead to filter on",
                        "example": "Elon Musk"
                    },
                    "last_name": {
                        "type": "string",
                        "description": "Last name of the lead to filter on",
                        "example": "Musk",
                        "x-ballerina-name": "lastName"
                    },
                    "phone_number": {
                        "type": "string",
                        "description": "Phone number of the lead to filter on",
                        "example": "1234567890",
                        "x-ballerina-name": "phoneNumber"
                    },
                    "first_name": {
                        "type": "string",
                        "description": "First name of the lead to filter on",
                        "example": "Elon",
                        "x-ballerina-name": "firstName"
                    },
                    "email": {
                        "type": "string",
                        "description": "E-mail of the lead to filter on",
                        "example": "elon@tesla.com"
                    }
                },
                "additionalProperties": false,
                "example": {
                    "first_name": "Elon",
                    "last_name": "Musk",
                    "email": "elon@tesla.com",
                    "phone_number": "1234567890"
                },
                "x-apideck-schema-id": "LeadsFilter"
            },
            "SortDirection": {
                "type": "string",
                "description": "The direction in which to sort the results",
                "default": "asc",
                "enum": [
                    "asc",
                    "desc"
                ],
                "x-apideck-schema-id": "SortDirection",
                "x-apideck-enum-id": "sort_direction"
            },
            "LeadWebhookEvent": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/WebhookEventBase"
                    },
                    {
                        "$ref": "#/components/schemas/LeadWebhookEventTypeInfo"
                    }
                ],
                "x-sdk-exclude": true
            },
            "Currency": {
                "title": "Currency",
                "type": "string",
                "description": "Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)",
                "nullable": true,
                "example": "USD",
                "enum": [
                    "UNKNOWN_CURRENCY",
                    "AED",
                    "AFN",
                    "ALL",
                    "AMD",
                    "ANG",
                    "AOA",
                    "ARS",
                    "AUD",
                    "AWG",
                    "AZN",
                    "BAM",
                    "BBD",
                    "BDT",
                    "BGN",
                    "BHD",
                    "BIF",
                    "BMD",
                    "BND",
                    "BOB",
                    "BOV",
                    "BRL",
                    "BSD",
                    "BTN",
                    "BWP",
                    "BYR",
                    "BZD",
                    "CAD",
                    "CDF",
                    "CHE",
                    "CHF",
                    "CHW",
                    "CLF",
                    "CLP",
                    "CNY",
                    "COP",
                    "COU",
                    "CRC",
                    "CUC",
                    "CUP",
                    "CVE",
                    "CZK",
                    "DJF",
                    "DKK",
                    "DOP",
                    "DZD",
                    "EGP",
                    "ERN",
                    "ETB",
                    "EUR",
                    "FJD",
                    "FKP",
                    "GBP",
                    "GEL",
                    "GHS",
                    "GIP",
                    "GMD",
                    "GNF",
                    "GTQ",
                    "GYD",
                    "HKD",
                    "HNL",
                    "HRK",
                    "HTG",
                    "HUF",
                    "IDR",
                    "ILS",
                    "INR",
                    "IQD",
                    "IRR",
                    "ISK",
                    "JMD",
                    "JOD",
                    "JPY",
                    "KES",
                    "KGS",
                    "KHR",
                    "KMF",
                    "KPW",
                    "KRW",
                    "KWD",
                    "KYD",
                    "KZT",
                    "LAK",
                    "LBP",
                    "LKR",
                    "LRD",
                    "LSL",
                    "LTL",
                    "LVL",
                    "LYD",
                    "MAD",
                    "MDL",
                    "MGA",
                    "MKD",
                    "MMK",
                    "MNT",
                    "MOP",
                    "MRO",
                    "MUR",
                    "MVR",
                    "MWK",
                    "MXN",
                    "MXV",
                    "MYR",
                    "MZN",
                    "NAD",
                    "NGN",
                    "NIO",
                    "NOK",
                    "NPR",
                    "NZD",
                    "OMR",
                    "PAB",
                    "PEN",
                    "PGK",
                    "PHP",
                    "PKR",
                    "PLN",
                    "PYG",
                    "QAR",
                    "RON",
                    "RSD",
                    "RUB",
                    "RWF",
                    "SAR",
                    "SBD",
                    "SCR",
                    "SDG",
                    "SEK",
                    "SGD",
                    "SHP",
                    "SLL",
                    "SOS",
                    "SRD",
                    "SSP",
                    "STD",
                    "SVC",
                    "SYP",
                    "SZL",
                    "THB",
                    "TJS",
                    "TMT",
                    "TND",
                    "TOP",
                    "TRC",
                    "TRY",
                    "TTD",
                    "TWD",
                    "TZS",
                    "UAH",
                    "UGX",
                    "USD",
                    "USN",
                    "USS",
                    "UYI",
                    "UYU",
                    "UZS",
                    "VEF",
                    "VND",
                    "VUV",
                    "WST",
                    "XAF",
                    "XAG",
                    "XAU",
                    "XBA",
                    "XBB",
                    "XBC",
                    "XBD",
                    "XCD",
                    "XDR",
                    "XOF",
                    "XPD",
                    "XPF",
                    "XPT",
                    "XTS",
                    "XXX",
                    "YER",
                    "ZAR",
                    "ZMK",
                    "ZMW",
                    "BTC",
                    "ETH"
                ],
                "x-apideck-enum-id": "currencies",
                "x-apideck-enum-coverage-ignore": true,
                "x-enum-elements": [
                    {
                        "name": "UNKNOWN_CURRENCY",
                        "description": "Unknown currency"
                    },
                    {
                        "name": "AED",
                        "description": "United Arab Emirates dirham"
                    },
                    {
                        "name": "AFN",
                        "description": "Afghan afghani"
                    },
                    {
                        "name": "ALL",
                        "description": "Albanian lek"
                    },
                    {
                        "name": "AMD",
                        "description": "Armenian dram"
                    },
                    {
                        "name": "ANG",
                        "description": "Netherlands Antillean guilder"
                    },
                    {
                        "name": "AOA",
                        "description": "Angolan kwanza"
                    },
                    {
                        "name": "ARS",
                        "description": "Argentine peso"
                    },
                    {
                        "name": "AUD",
                        "description": "Australian dollar"
                    },
                    {
                        "name": "AWG",
                        "description": "Aruban florin"
                    },
                    {
                        "name": "AZN",
                        "description": "Azerbaijani manat"
                    },
                    {
                        "name": "BAM",
                        "description": "Bosnia and Herzegovina convertible mark"
                    },
                    {
                        "name": "BBD",
                        "description": "Barbados dollar"
                    },
                    {
                        "name": "BDT",
                        "description": "Bangladeshi taka"
                    },
                    {
                        "name": "BGN",
                        "description": "Bulgarian lev"
                    },
                    {
                        "name": "BHD",
                        "description": "Bahraini dinar"
                    },
                    {
                        "name": "BIF",
                        "description": "Burundian franc"
                    },
                    {
                        "name": "BMD",
                        "description": "Bermudian dollar"
                    },
                    {
                        "name": "BND",
                        "description": "Brunei dollar"
                    },
                    {
                        "name": "BOB",
                        "description": "Boliviano"
                    },
                    {
                        "name": "BOV",
                        "description": "Bolivian Mvdol"
                    },
                    {
                        "name": "BRL",
                        "description": "Brazilian real"
                    },
                    {
                        "name": "BSD",
                        "description": "Bahamian dollar"
                    },
                    {
                        "name": "BTN",
                        "description": "Bhutanese ngultrum"
                    },
                    {
                        "name": "BWP",
                        "description": "Botswana pula"
                    },
                    {
                        "name": "BYR",
                        "description": "Belarusian ruble"
                    },
                    {
                        "name": "BZD",
                        "description": "Belize dollar"
                    },
                    {
                        "name": "CAD",
                        "description": "Canadian dollar"
                    },
                    {
                        "name": "CDF",
                        "description": "Congolese franc"
                    },
                    {
                        "name": "CHE",
                        "description": "WIR Euro"
                    },
                    {
                        "name": "CHF",
                        "description": "Swiss franc"
                    },
                    {
                        "name": "CHW",
                        "description": "WIR Franc"
                    },
                    {
                        "name": "CLF",
                        "description": "Unidad de Fomento"
                    },
                    {
                        "name": "CLP",
                        "description": "Chilean peso"
                    },
                    {
                        "name": "CNY",
                        "description": "Chinese yuan"
                    },
                    {
                        "name": "COP",
                        "description": "Colombian peso"
                    },
                    {
                        "name": "COU",
                        "description": "Unidad de Valor Real"
                    },
                    {
                        "name": "CRC",
                        "description": "Costa Rican colon"
                    },
                    {
                        "name": "CUC",
                        "description": "Cuban convertible peso"
                    },
                    {
                        "name": "CUP",
                        "description": "Cuban peso"
                    },
                    {
                        "name": "CVE",
                        "description": "Cape Verdean escudo"
                    },
                    {
                        "name": "CZK",
                        "description": "Czech koruna"
                    },
                    {
                        "name": "DJF",
                        "description": "Djiboutian franc"
                    },
                    {
                        "name": "DKK",
                        "description": "Danish krone"
                    },
                    {
                        "name": "DOP",
                        "description": "Dominican peso"
                    },
                    {
                        "name": "DZD",
                        "description": "Algerian dinar"
                    },
                    {
                        "name": "EGP",
                        "description": "Egyptian pound"
                    },
                    {
                        "name": "ERN",
                        "description": "Eritrean nakfa"
                    },
                    {
                        "name": "ETB",
                        "description": "Ethiopian birr"
                    },
                    {
                        "name": "EUR",
                        "description": "Euro"
                    },
                    {
                        "name": "FJD",
                        "description": "Fiji dollar"
                    },
                    {
                        "name": "FKP",
                        "description": "Falkland Islands pound"
                    },
                    {
                        "name": "GBP",
                        "description": "Pound sterling"
                    },
                    {
                        "name": "GEL",
                        "description": "Georgian lari"
                    },
                    {
                        "name": "GHS",
                        "description": "Ghanaian cedi"
                    },
                    {
                        "name": "GIP",
                        "description": "Gibraltar pound"
                    },
                    {
                        "name": "GMD",
                        "description": "Gambian dalasi"
                    },
                    {
                        "name": "GNF",
                        "description": "Guinean franc"
                    },
                    {
                        "name": "GTQ",
                        "description": "Guatemalan quetzal"
                    },
                    {
                        "name": "GYD",
                        "description": "Guyanese dollar"
                    },
                    {
                        "name": "HKD",
                        "description": "Hong Kong dollar"
                    },
                    {
                        "name": "HNL",
                        "description": "Honduran lempira"
                    },
                    {
                        "name": "HRK",
                        "description": "Croatian kuna"
                    },
                    {
                        "name": "HTG",
                        "description": "Haitian gourde"
                    },
                    {
                        "name": "HUF",
                        "description": "Hungarian forint"
                    },
                    {
                        "name": "IDR",
                        "description": "Indonesian rupiah"
                    },
                    {
                        "name": "ILS",
                        "description": "Israeli new shekel"
                    },
                    {
                        "name": "INR",
                        "description": "Indian rupee"
                    },
                    {
                        "name": "IQD",
                        "description": "Iraqi dinar"
                    },
                    {
                        "name": "IRR",
                        "description": "Iranian rial"
                    },
                    {
                        "name": "ISK",
                        "description": "Icelandic kr\u00c3\u00b3na"
                    },
                    {
                        "name": "JMD",
                        "description": "Jamaican dollar"
                    },
                    {
                        "name": "JOD",
                        "description": "Jordanian dinar"
                    },
                    {
                        "name": "JPY",
                        "description": "Japanese yen"
                    },
                    {
                        "name": "KES",
                        "description": "Kenyan shilling"
                    },
                    {
                        "name": "KGS",
                        "description": "Kyrgyzstani som"
                    },
                    {
                        "name": "KHR",
                        "description": "Cambodian riel"
                    },
                    {
                        "name": "KMF",
                        "description": "Comoro franc"
                    },
                    {
                        "name": "KPW",
                        "description": "North Korean won"
                    },
                    {
                        "name": "KRW",
                        "description": "South Korean won"
                    },
                    {
                        "name": "KWD",
                        "description": "Kuwaiti dinar"
                    },
                    {
                        "name": "KYD",
                        "description": "Cayman Islands dollar"
                    },
                    {
                        "name": "KZT",
                        "description": "Kazakhstani tenge"
                    },
                    {
                        "name": "LAK",
                        "description": "Lao kip"
                    },
                    {
                        "name": "LBP",
                        "description": "Lebanese pound"
                    },
                    {
                        "name": "LKR",
                        "description": "Sri Lankan rupee"
                    },
                    {
                        "name": "LRD",
                        "description": "Liberian dollar"
                    },
                    {
                        "name": "LSL",
                        "description": "Lesotho loti"
                    },
                    {
                        "name": "LTL",
                        "description": "Lithuanian litas"
                    },
                    {
                        "name": "LVL",
                        "description": "Latvian lats"
                    },
                    {
                        "name": "LYD",
                        "description": "Libyan dinar"
                    },
                    {
                        "name": "MAD",
                        "description": "Moroccan dirham"
                    },
                    {
                        "name": "MDL",
                        "description": "Moldovan leu"
                    },
                    {
                        "name": "MGA",
                        "description": "Malagasy ariary"
                    },
                    {
                        "name": "MKD",
                        "description": "Macedonian denar"
                    },
                    {
                        "name": "MMK",
                        "description": "Myanmar kyat"
                    },
                    {
                        "name": "MNT",
                        "description": "Mongolian t\u00c3\u00b6gr\u00c3\u00b6g"
                    },
                    {
                        "name": "MOP",
                        "description": "Macanese pataca"
                    },
                    {
                        "name": "MRO",
                        "description": "Mauritanian ouguiya"
                    },
                    {
                        "name": "MUR",
                        "description": "Mauritian rupee"
                    },
                    {
                        "name": "MVR",
                        "description": "Maldivian rufiyaa"
                    },
                    {
                        "name": "MWK",
                        "description": "Malawian kwacha"
                    },
                    {
                        "name": "MXN",
                        "description": "Mexican peso"
                    },
                    {
                        "name": "MXV",
                        "description": "Mexican Unidad de Inversion"
                    },
                    {
                        "name": "MYR",
                        "description": "Malaysian ringgit"
                    },
                    {
                        "name": "MZN",
                        "description": "Mozambican metical"
                    },
                    {
                        "name": "NAD",
                        "description": "Namibian dollar"
                    },
                    {
                        "name": "NGN",
                        "description": "Nigerian naira"
                    },
                    {
                        "name": "NIO",
                        "description": "Nicaraguan c\u00c3\u00b3rdoba"
                    },
                    {
                        "name": "NOK",
                        "description": "Norwegian krone"
                    },
                    {
                        "name": "NPR",
                        "description": "Nepalese rupee"
                    },
                    {
                        "name": "NZD",
                        "description": "New Zealand dollar"
                    },
                    {
                        "name": "OMR",
                        "description": "Omani rial"
                    },
                    {
                        "name": "PAB",
                        "description": "Panamanian balboa"
                    },
                    {
                        "name": "PEN",
                        "description": "Peruvian sol"
                    },
                    {
                        "name": "PGK",
                        "description": "Papua New Guinean kina"
                    },
                    {
                        "name": "PHP",
                        "description": "Philippine peso"
                    },
                    {
                        "name": "PKR",
                        "description": "Pakistani rupee"
                    },
                    {
                        "name": "PLN",
                        "description": "Polish z\u00c5\u201aoty"
                    },
                    {
                        "name": "PYG",
                        "description": "Paraguayan guaran\u00c3\u00ad"
                    },
                    {
                        "name": "QAR",
                        "description": "Qatari riyal"
                    },
                    {
                        "name": "RON",
                        "description": "Romanian leu"
                    },
                    {
                        "name": "RSD",
                        "description": "Serbian dinar"
                    },
                    {
                        "name": "RUB",
                        "description": "Russian ruble"
                    },
                    {
                        "name": "RWF",
                        "description": "Rwandan franc"
                    },
                    {
                        "name": "SAR",
                        "description": "Saudi riyal"
                    },
                    {
                        "name": "SBD",
                        "description": "Solomon Islands dollar"
                    },
                    {
                        "name": "SCR",
                        "description": "Seychelles rupee"
                    },
                    {
                        "name": "SDG",
                        "description": "Sudanese pound"
                    },
                    {
                        "name": "SEK",
                        "description": "Swedish krona"
                    },
                    {
                        "name": "SGD",
                        "description": "Singapore dollar"
                    },
                    {
                        "name": "SHP",
                        "description": "Saint Helena pound"
                    },
                    {
                        "name": "SLL",
                        "description": "Sierra Leonean leone"
                    },
                    {
                        "name": "SOS",
                        "description": "Somali shilling"
                    },
                    {
                        "name": "SRD",
                        "description": "Surinamese dollar"
                    },
                    {
                        "name": "SSP",
                        "description": "South Sudanese pound"
                    },
                    {
                        "name": "STD",
                        "description": "S\u00c3\u00a3o Tom\u00c3\u00a9 and Pr\u00c3\u00adncipe dobra"
                    },
                    {
                        "name": "SVC",
                        "description": "Salvadoran col\u00c3\u00b3n"
                    },
                    {
                        "name": "SYP",
                        "description": "Syrian pound"
                    },
                    {
                        "name": "SZL",
                        "description": "Swazi lilangeni"
                    },
                    {
                        "name": "THB",
                        "description": "Thai baht"
                    },
                    {
                        "name": "TJS",
                        "description": "Tajikstani somoni"
                    },
                    {
                        "name": "TMT",
                        "description": "Turkmenistan manat"
                    },
                    {
                        "name": "TND",
                        "description": "Tunisian dinar"
                    },
                    {
                        "name": "TOP",
                        "description": "Tongan pa'anga"
                    },
                    {
                        "name": "TRY",
                        "description": "Turkish lira"
                    },
                    {
                        "name": "TTD",
                        "description": "Trinidad and Tobago dollar"
                    },
                    {
                        "name": "TWD",
                        "description": "New Taiwan dollar"
                    },
                    {
                        "name": "TZS",
                        "description": "Tanzanian shilling"
                    },
                    {
                        "name": "UAH",
                        "description": "Ukrainian hryvnia"
                    },
                    {
                        "name": "UGX",
                        "description": "Ugandan shilling"
                    },
                    {
                        "name": "USD",
                        "description": "United States dollar"
                    },
                    {
                        "name": "USN",
                        "description": "United States dollar (next day)"
                    },
                    {
                        "name": "USS",
                        "description": "United States dollar (same day)"
                    },
                    {
                        "name": "UYI",
                        "description": "Uruguay Peso en Unidedades Indexadas"
                    },
                    {
                        "name": "UYU",
                        "description": "Uruguyan peso"
                    },
                    {
                        "name": "UZS",
                        "description": "Uzbekistan som"
                    },
                    {
                        "name": "VEF",
                        "description": "Venezuelan bol\u00c3\u00advar soberano"
                    },
                    {
                        "name": "VND",
                        "description": "Vietnamese \u00c4\u2018\u00e1\u00bb\u201cng"
                    },
                    {
                        "name": "VUV",
                        "description": "Vanuatu vatu"
                    },
                    {
                        "name": "WST",
                        "description": "Samoan tala"
                    },
                    {
                        "name": "XAF",
                        "description": "CFA franc BEAC"
                    },
                    {
                        "name": "XAG",
                        "description": "Silver"
                    },
                    {
                        "name": "XAU",
                        "description": "Gold"
                    },
                    {
                        "name": "XBA",
                        "description": "European Composite Unit"
                    },
                    {
                        "name": "XBB",
                        "description": "European Monetary Unit"
                    },
                    {
                        "name": "XBC",
                        "description": "European Unit of Account 9"
                    },
                    {
                        "name": "XBD",
                        "description": "European Unit of Account 17"
                    },
                    {
                        "name": "XCD",
                        "description": "East Caribbean dollar"
                    },
                    {
                        "name": "XDR",
                        "description": "Special drawing rights (International Monetary Fund)"
                    },
                    {
                        "name": "XOF",
                        "description": "CFA franc BCEAO"
                    },
                    {
                        "name": "XPD",
                        "description": "Palladium"
                    },
                    {
                        "name": "XPF",
                        "description": "CFP franc"
                    },
                    {
                        "name": "XPT",
                        "description": "Platinum"
                    },
                    {
                        "name": "XTS",
                        "description": "Code reserved for testing"
                    },
                    {
                        "name": "XXX",
                        "description": "No currency"
                    },
                    {
                        "name": "YER",
                        "description": "Yemeni rial"
                    },
                    {
                        "name": "ZAR",
                        "description": "South African rand"
                    },
                    {
                        "name": "ZMK",
                        "description": "Zambian kwacha"
                    },
                    {
                        "name": "ZMW",
                        "description": "Zambian kwacha"
                    },
                    {
                        "name": "BTC",
                        "description": "Bitcoin"
                    },
                    {
                        "name": "ETH",
                        "description": "Ether"
                    }
                ]
            },
            "Lead": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "addresses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Address"
                        }
                    },
                    "owner_id": {
                        "type": "string",
                        "description": "The owner of the lead",
                        "nullable": true,
                        "example": "54321",
                        "x-ballerina-name": "ownerId"
                    },
                    "prefix": {
                        "type": "string",
                        "description": "The prefix of the lead",
                        "nullable": true,
                        "example": "Sir"
                    },
                    "social_links": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SocialLink"
                        },
                        "x-ballerina-name": "socialLinks"
                    },
[...]
